:root {
    --color1: white;
    --color2:  white;
    --color3:  lightgray;
    --color4: rgba(0, 0, 0, 0.5);
    --color5: #fff;
    --color6: black;
    --color7: grey;
}



body {
    
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 80px;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
}

.form-table {
    width: auto;
    margin: 0 auto;
    border-collapse: collapse;
    
   
}

.form-table tr:nth-child(even) {
    background-color: var(--color2); /* Color para filas pares */
}

.form-table tr:nth-child(odd) {
    background-color: var(--color1); /* Color para filas impares */
}
.form-table th {
    background-color: var(--color2);
     padding: 20px 50px; 
    font-size: 1.5rem;
    height: 40px;
    border: 1px solid rgb(102, 183, 120);
}
.form-table td, 
.form-table th {
    padding: 2px 5px; /* Reducir el padding para hacer las filas más delgadas */
    font-size: 1.5rem;  /* Ajustar el tamaño de la fuente si es necesario */
    text-align: center;
}

.form-table h2 {
    margin: 0;
    font-size: 1.5rem
}

.submit-row {
    text-align: center;
}

.buttonEnviar {
    display: block;
    padding: 5px 20px;
    font-size: 1.5rem;
    background-color: var(--color6);
    color: white;
    border: none;
    cursor: pointer;
    margin: 15px auto;
    

}

button:hover {
    background-color: var(--color7);
}

/* Estilos básicos para el cuadro de diálogo */
.dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color4);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.dialog-content {
    width: 60%;
    background-color: var(--color5);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 0 auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

#inputMinimoOrdenDialog {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
 select {
    width: 69%;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    
    color: black; /* Texto en negro */
    -webkit-appearance: none; /* Elimina el estilo predeterminado de iOS */
    -moz-appearance: none; /* Elimina el estilo predeterminado de Firefox */
    appearance: none; /* Para otros navegadores */

    
 }

 .btn-actualizar, .btn-eliminar {
    
        padding: 5px 20px;
        font-size: 1rem;
        background-color: var(--color6);
        color: white;
        border: none;
        cursor: pointer;
        margin: 3px;
    
 }

 #form-invitado {
    display: block;
    margin: 0 auto;
 }


 #fotoProveedor {
    display: block;
    margin:  0 auto;
 }

 .file-upload-container {
    text-align: center; /* Centrar el contenido del contenedor */
    margin: 20px 0; /* Espacio superior e inferior */
}

.custom-file-upload {
    display: inline-block; /* Permite que el botón mantenga su tamaño */
    padding: 8px 15px; /* Espaciado para el botón */
    font-size: 1.5rem; /* Tamaño de fuente */
    background-color: var(--color6); /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.custom-file-upload:hover {
    background-color: var(--color7); /* Color de fondo al pasar el cursor */
}

#buttonLogout {
    display: inline-block; /* Permite que el botón mantenga su tamaño */
    padding: 8px 15px; /* Espaciado para el botón */
    background-color: var(--color6); /* Color de fondo */
   
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

#buttonLogout:hover {
    background-color: var(--color7); /* Color de fondo al pasar el cursor */
}

#aLogout {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

#buttonSubmit {
    font-family: 'Open Sans', sans-serif; 
    padding: 0 25px;
    

}

.inputLogin {
    width: 100px;

}
/***************************************** 
--- Puntos de corte (Media Queries) --- 
*****************************************/

@media only screen and (max-width: 600px) {
    body {
        margin: 0 auto;
    }
    
    header {
        font-size: 1.5rem;
        padding: 10px;
    }

    .form-table th, .form-table td {
        font-size: 1.3rem;
        padding: 5px 2px;
    }

    .form-table th {
        width: 60%;
    }

    .form-table td {
        width: 40%;
    }

    .dialog-content {
        width: 95%;
        padding: 15px;
    }

    

    #inputMinimoOrdenDialog {
        width: 80%;
    }

    input {
        width: 100%;
        font-size: 1rem; 
        font-family: 'Open Sans', sans-serif; 
    }

    select { 
        font-size: 1rem; 
        font-family: 'Open Sans', sans-serif; 
        width: 100%;
        box-sizing: border-box;
    }

    label {
        font-size: 1rem;
    }
}
/*media querys+++++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        font-size: 1.5rem;
        padding: 12px;
    }

    .form-table th, .form-table td {
        font-size: 1.5rem;
        padding: 5px;
    }

    .dialog-content {
        width: 70%;
        padding: 8px;
    }

    

    #inputMinimoOrdenDialog {
        width: 95%;
    }

    input, select { /* Aquí también ajustas para pantallas grandes */
        font-size: 1.5rem; /* Agranda el texto en pantallas grandes */
        width: 100%;
    }
}

@media only screen and (min-width: 1025px) {
    header {
        font-size: 1.8rem;
    }

    .form-table th, .form-table td {
        font-size: 1.5rem;
        
    }

    .dialog-content {
        width: 70%;
        padding: 25px;
    }

    

    #inputMinimoOrdenDialog {
        width: 90%;
    }

    input, select { /* Aquí también ajustas para pantallas grandes */
        font-size: 1.2rem; /* Agranda el texto en pantallas grandes */
        width: 70%
    }

    
}
