<%- include('partials/head.ejs') %>

<title>Cargar Productos</title>

</head>
<body>

<%- include('partials/header.ejs') %>
<div class="form-container">
    <form action="/postProducto" method="post">
        <table class="form-table">
            <tr>
                <td><label for="codigoProducto"><h2>Code</h2></label></td>
                <td><input type="text" name="codigoProducto" id="codigoProducto" required></td>
            </tr>
            <tr>
                <td><label for="descripcionProducto"><h2>Description</h2></label></td>
                <td><input type="text" name="descripcionProducto" id="descripcionProducto" required></td>
            </tr>
            <tr>
                <td><label for="moneda"><h2>Moneda</h2></label></td>
                <td><select name="monedaProducto" id="moneda">
                        <option value="">Select</option>
                        <option value="usd">US$ USA</option>
                        <option value="cny">¥ China</option>
                        <option value="jpy">¥ Japan</option>
                        <option value="inr">₹ India</option>
                        <option value="eur">€ Euro</option>
                                               
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="precioProducto"><h2>Price</h2></label></td>
                <td><input type="number" step="0.01" name="precioProducto" id="precioProducto" required></td>
            </tr>
            <tr>
                <td><label for="kgProducto"><h2>Kilograms</h2></label></td>
                <td><input type="number" step="0.01" name="kgProducto" id="kgProducto" required></td>
            </tr>
            <tr>
                <td><label for="m3Producto"><h2>Cubic Meters (M3)</h2></label></td>
                <td><input type="number" step="0.01" name="m3Producto" id="m3Producto" required></td>
            </tr>
            <tr>
                <td><label for="posicionArancelariaProducto"><h2>Tariff Position</h2></label></td>
                <td><input type="text" name="posicionArancelariaProducto" id="posicionArancelariaProducto" required></td>
            </tr>
            
        </table>

        <button type="submit">Submit</button>
    </form>
</div>



<script>
    const params = new URLSearchParams(window.location.search);
    const successMessage = params.get('success');
    if (successMessage) {
      alert(successMessage); // Mostrar el alert si hay un éxito
    }
</script>

<script src="/js/productos.js"></script>

</body>
</html>
