<%- include('partials/head.ejs') %>

<title>Add supplier</title>
<link rel="stylesheet" href="/css/estilosTablaProveedores.css">
</head>
<body>

    <%- include('partials/header.ejs') %>
    <div class="form-container">
        <form action="/postProveedor" method="post" enctype="multipart/form-data">
            <table class="form-table">
                <tr>
                    <td><label for="nombreProveedor"><h2>Company</h2></label></td>
                    <td><input type="text" name="nombreProveedor" id="nombreProveedor" required></td>
                </tr>
                <tr>
                    <td><label for="contactoProveedor"><h2>Contact</h2></label></td>
                    <td><input type="text" name="contactoProveedor" id="contactoProveedor" required></td>
                </tr>
                <tr style="display: none;">
                    <td><label for="passwordProveedor"><h2>Password</h2></label></td>
                    <td><input type="password" name="passwordProveedor" id="passwordProveedor" value="password" required></td>
                </tr>
                <tr>
                    <td><label for="celularProveedor"><h2>Cell phone</h2></label></td>
                    <td><input type="text" name="celularProveedor" id="celularProveedor" required></td>
                </tr>
                <tr>
                    <td><label for="emailProveedor"><h2>Mail</h2></label></td>
                    <td><input type="email" name="emailProveedor" id="emailProveedor" required></td>
                </tr>
                <tr>
                    <td><label for="webProveedor"><h2>Web</h2></label></td>
                    <td><input type="text" name="webProveedor" id="webProveedor" required></td>
                </tr>
                <tr>
                    <td><label for="ordenProveedor"><h2>Minimum order</h2></label></td>
                    <td>
                        <select name="ordenProveedor" id="ordenProveedor" required>                        
                            <option><h3>Select</h3></option>
                            <option value="No"><h3>No</h3></option>
                            <option value="Si"><h3>Yes</h3></option>
                        </select>
                        <input type="hidden" name="minimoOrdenInput" id="minimoOrdenInput">
                    </td>
                </tr>
                <tr>
                    <td><label for="paisProveedor"><h2>Country</h2></label></td>
                    <td>
                        <select name="paisProveedor" id="paisProveedor" required>
                            <% paises.forEach(pais => { %>
                                <option value="<%= pais.id %>"><%= pais.nombre %></option>
                            <% }) %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="tipoProveedor"><h2>Supplier type</h2></label></td>
                    <td>
                        <select name="tipoProveedor" id="tipoProveedor" required>
                            <option value="fabricante"><h3>Manufacturer</h3></option>
                            <option value="vendedor"><h3>Reseller</h3></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="condicionDeVenta"><h2>Sales condition</h2></label></td>
                    <td>
                        <select name="condicionDeVenta" id="condicionDeVenta" required>
                            <option value="FOB"><h3>FOB</h3></option>
                            <option value="FCA"><h3>FCA</h3></option>
                            <option value="CIF"><h3>CIF</h3></option>
                            <option value="EXW"><h3>EXW</h3></option>
                            <option value="All"><h3>All</h3></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="lugarDeEntrega"><h2>Delivery location</h2></label></td>
                    <td><input type="text" name="lugarDeEntrega" id="lugarDeEntrega" required></td>
                </tr>
            </table>    
            <br><br>
                
            <div class="file-upload-container">
                <label for="fotoProveedor" class="custom-file-upload buttonEnviar"> <!-- Agregar la clase de botón -->
                    Select file
                </label>
                <input type="file" name="fotoProveedor" id="fotoProveedor" accept="image/*" capture="camera" style="display:none;">
            </div>
            
            <br><br>
                
            <button type="submit" class="buttonEnviar">Submit</button>
                
        </form>
    </div>
    <br><br>

    <a href="/validarProveedor">Cargar productos</a>

    <div id="dialogMinimoOrden" class="dialog">
        <div class="dialog-content">
            <span class="close-btn" id="closeDialog">&times;</span>
            <h2>Enter the minimum order</h2>
            <input type="number" id="inputMinimoOrdenDialog" min="0">
            <button id="guardarMinimoOrden">Submit</button>
        </div>
    </div>
    
    <% if (esAdmin) { %> <!-- Solo muestra el listado si el usuario es administrador -->
        <div id="listadoProveedores">
            <h2>Lista de Proveedores</h2>

            <table id="tablaProveedores" class="form-table">
                <thead>
                    <tr>
                        <th>Compañía</th>
                        <th>Contacto</th>
                        <th>Celular</th>
                        <th>Mail</th>
                        <th>Web</th>
                        <th>Mínimo de orden</th>
                        <th>País</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Condición de venta</th>
                        <th>Lugar de entrega</th>
                        <th>Foto</th>
                        <th>Acción</th>                        
                    </tr>
                </thead>
                <tbody id="proveedoresBody">
                    <!-- Proveedores se agregarán aquí dinámicamente -->
                </tbody>
            </table>
            <button id="cargarMas" type="button" class="buttonEnviar">Mostrar más</button>
        </div>
    <% } %>
    <br>
    <button onclick="window.location.href='/exportarProveedores'" class="buttonEnviar">Descargar Excel Proveedores</button>
    <button onclick="window.location.href='/exportarProductos'" class="buttonEnviar">Descargar Excel Productos</button>
    
    <script>
        const params = new URLSearchParams(window.location.search);
        const successMessage = params.get('success');
        if (successMessage) {
            alert(successMessage); // Mostrar el alert
        }
    </script>

    <script src="/js/proveedores.js"></script>
    <script src="/js/cargaMinima.js"></script>
    
</body>
</html>
